<h1 mat-dialog-title>Add Record</h1>
<div mat-dialog-content>
   <form [formGroup]="recordForm">
    <div style="padding: 2px;"></div>
    <mat-form-field appearance="outline">
        <mat-label>Record Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
        <mat-label>Record Type</mat-label>
        <mat-select  formControlName="type" placeholder="Type">
            <mat-option value="Morning">Morning</mat-option>
            <mat-option value="Afternoon">Afternoon</mat-option>
            <mat-option value="Evening">Evening</mat-option>
            <mat-option value="Night">Night</mat-option>
        </mat-select>
    </mat-form-field> -->
    
    <mat-form-field appearance="outline">
        <mat-label>Choose a startTime</mat-label>
        <input  formControlName="startTime" matInput [matDatepicker]="spicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="spicker"></mat-datepicker-toggle>
        <mat-datepicker #spicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Choose a currentStartTime</mat-label>
        <input  formControlName="currentStartTime" matInput [matDatepicker]="cspicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="cspicker"></mat-datepicker-toggle>
        <mat-datepicker #cspicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Choose a endTime</mat-label>
        <input  formControlName="endTime" matInput [matDatepicker]="epicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="epicker"></mat-datepicker-toggle>
        <mat-datepicker #epicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Choose a currentEndTime</mat-label>
        <input  formControlName="currentEndTime" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for="">
        <h2>Record Status</h2>
    </label>
    <mat-radio-group formControlName="status" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let status of statusList" [value]="status">
            {{status}}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
        <mat-label>Duration</mat-label>
        <input formControlName="duration" matInput type="number" placeholder="Duration">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Description"></textarea>
    </mat-form-field>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addRecord()">{{actionBtn}}</button>
        </div>
   </form>
</div>
